<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The North Face Chamarra Deportiva</title>
    <link rel="stylesheet" href="/css/info_chaqueta.css">
    <%- include('partials/head') %>

</head>
<%- include('partials/navigation') %>
<body>
    <header>
    </header>
    <main>
        <section class="prenda-info">
            <h2>The North Face Chamarra Deportiva</h2>
            <p>Con tecnología impermeable y cortavientos, es ideal para mantenerte protegido frente a las inclemencias del tiempo.Su tejido ligero y transpirable permite una ventilación adecuada, evitando la acumulación de humedad durante actividades intensas.</p>
            <ul>
                <li><strong>Color:</strong> Negro</li>
                <li><strong>Tamaño:</strong> M</li>
                <li><strong>Precio:</strong> S/279.92</li>
            </ul>
            <img src="/img/chaqueta.png" alt="Imagen de la prenda">
        </section>
    </main>
    <footer>
        <p>&copy; 2025 Reload</p>
    </footer>
</body>
</html>