<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reload Registro</title>
    <link rel="stylesheet" href="register.css">
</head>
<body>
    <header>
        <h1>RELOAD</h1>
    </header>
    <div class="register-container">
        <div class="header">
            <h1>Empieza a utilizar Reload.</h1>
        </div>
        <div class="ask-text">
            <p>쯏a tienes una cuenta?<a href="login">Inicia sesi칩n</a>
        </div>
        <form class="register-form">
            <h3>REGISTRO</h3>
            <div class="form-group">
                <label for="email">Nombre completo</label>
                <div class="input-wrapper">
                    <span class="icon">游녻</span>
                    <input type="name" id="name" placeholder="Ingrese su nombre" required>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Correo electr칩nico</label>
                <div class="input-wrapper">
                    <span class="icon">游닎</span>
                    <input type="email" id="email" placeholder="Ingrese su email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Contrase침a</label>
                <div class="input-wrapper">
                    <span class="icon">游</span>
                    <input type="password" id="password" placeholder="Ingrese su contrase침a" required>
                </div>
            </div>
            <button type="submit" class="register-button">REGISTRAR</button>
        </form>
        <div class="terms">
            Al unime acepto recibir correos electr칩nicos de Reload
        </div>
    </div>
</body>
</html>
