<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
    </ul>
</nav>
<nav>
    <ul>
        <li>
            <a href="/contact">Contactanos</a>
        </li>
    </ul>
</nav>
<nav>
    <ul>
        <li>
            <a href="/about">Catalogo</a>
        </li>
    </ul>
</nav>
<nav>
    <ul>
        <li>
            <a href="/informacion">Sobre Nosotros</a>
        </li>
    </ul>
</nav>